.portfolio {
    margin-top: 20rem;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.portfolio-list__item {
    cursor: pointer;
    border-radius: 4rem;
    padding: 1rem 4rem;
    transition: all 200ms ease-in;
}

.portfolio-list__item--active {
    color: #fff;
    background-color: var(--primary-color);
}


.portfolio-content {}

.portfolio-content__img {
    width: 100%;
}

.swiper-pagination {
    position: static !important;
    margin-top: 1rem;
}

.swiper-pagination-bullet {
    width: 1.8rem !important;
    height: 1.8rem !important;
    border: 2px solid var(--primary-color) !important;
    background: #fff !important;
}

.swiper-pagination-bullet-active {
    background: var(--primary-color) !important;
}