.home {
    margin-top: 8rem;
    background-image: url('./../../../public/images/shapes/header-shape.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 85rem;
}

.home__name {
    font-family: "Poppins Semibold";
    color: var(--primary-color);
    font-size: 2.8rem;
    margin: 0;
}

.home__name span {
    color: #f57f17;
}

.home__title {
    font-family: "Poppins Bold";
    color: var(--primary-color);
    font-size: 5rem;
    margin: 0;
}

.home__caption {
    font-family: "Poppins Regular";
    margin: 1rem 0 2rem 0;
    font-weight: bold;
    opacity: 0.7;
}

.home__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.home__links-wrapper :nth-child(2) {
    background-color: #f57f17;
    box-shadow: 0 1.5rem 4rem #f57f17;
}

.home__photo {
    background-image: url('./../../../public/images/header-avatar.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55rem;
    height: 55rem;
    border-radius: 100%;
    border: 2.5rem solid var(--section-bg-color);
    box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
}


@media screen and (max-width:1400px) {
    .home{
        height: 76rem;
    }
    .home__photo {
        width: 45rem;
        height: 45rem;
    }
}

@media screen and (max-width:1200px) {
    .home{
        height: 70rem;
    }
    .home__photo {
        width: 35rem;
        height: 35rem;
    }
}

@media screen and (max-width:992px) {
    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__photo {
        margin: 0 auto;
    }

    .home .row {
        flex-direction: column-reverse;
    }

    .home {
        margin-top: 6rem;
        background-image: none;
    }

    .home__caption {
        text-align: center;
    }
}

@media screen and (max-width:762px) {
    .home__photo {
        border-width: 1.5rem;
    }
}

@media screen and (max-width:576px) {
    .home__title {
        font-size: 4rem;
    }

    .home__name {
        font-size: 2rem;
    }
    .home__links-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width:420px) {
    .home__title {
        font-size: 2.5rem;
        text-align: center;
    }

    .home__photo {
        width: 25rem;
        height: 25rem;
        border-width: 1rem;
    }

    .home__links-wrapper {
        justify-content: center;
    }
}