@import "font.css";
@import "reset.css";
@import "grid.css";

:root {
    --text-color: #333;
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: #0abead;
}


/* 

Reset Style

*/


a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* 

-- App

*/

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins';
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--app-bg-color);
    padding-top: 2rem;
}

/* 

Helpers class

*/

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.skew-reset{
    transform: skewY(6deg);
}

.h-full{
    height: 100%;
}