@import "font.css";
@import "reset.css";
@import "grid.css";

:root {
    --text-color: #333;
    --shadow-color: rgba(19, 182, 255, 0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
}

/* 

-- App

*/

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins';
    font-size: 1.6rem;
    line-height: 1.5;
}